@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;700&family=Lexend:wght@300;700&display=swap');

/**
color light #F2F4F7 gray #949FBB #6B7897 blue #3a9fe9 #546eec 
linear-gradient(280.04deg, #547EEC -5.52%, #3A9FE9 86.56%); 
linear-gradient(180deg, #547EEC 0%, #3A9FE9 100%);
linear-gradient(45deg, #F37335, #FDC830 80%);
linear-gradient(to top, #3a1c71, #d76d77, #ffaf7b);
**/
/**
undone part: iframe font 
**/
* {
    box-sizing: border-box;
    font-family: 'Lexend', sans-serif;
    transition: 500ms;
}

body {
    font-weight: 500;
    background-color: #F2F4F7;
    color: #6B7897;
    font-size: 16px;
    margin: 0;
}

p {
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
}

.ftright p {
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
}

.img1 {
    color: #546eec;
    font-weight: 500px;
}

.imglight {
    color: #3A9FE9;
    font-weight: 500px;
}

h5 {
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #6B7897;
}

h1 {
    color: #6B7897;
    font-family: 'Lexend', monospace;
    font-size: 4rem;
    font-weight: 500;
}

h2 {
    font-family: 'Lexend', monospace;
    font-size: 3.2rem;
    color: #6B7897;
    width: 100%;
}

h3 {
    font-family: 'Lexend';
    font-size: 2rem;
    width: 100%;
    background: linear-gradient(180deg, #547EEC 0%, #3A9FE9 100%);
    background: -webkit-linear-gradient(180deg, #547EEC 0%, #3A9FE9 100%);
    ;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.feat {
    font-family: 'Lexend', monospace;
    width: 100%;
    color: #6B7897;
    font-weight: 700;
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feat {
    color: #ffffff;
}
.feat .svg1 {
    padding-left: 5px;
    padding-top: 9px;
    margin-right: 0px;
}
.feat .svg2 {
    padding-right: 18px;
    margin-left: 0px;
    padding-bottom: 20px;
    margin-right: 5%;
}
.feat .svg3 {
    padding-left: 5px;
    padding-right: 0;
    padding-bottom: 27px;
    margin-left: 5%;
}
.feat .svg4 {
    padding-right: 18px;
    padding-top: 2px;
}

.topic {
    font-family: 'Lexend', monospace;
    width: 100%;
    color: #6B7897;
    font-weight: 700;
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topic i {
    padding: 0 50px;
}

.process {
    padding-left: 30px;
    padding-right: 30px;
}

.processtopic {
    font-family: 'Lexend', monospace;
    width: 100%;
    color: #6B7897;
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 0px;
}

.memtopic {
    font-family: 'Lexend', monospace;
    width: 100%;
    color: #6B7897;
    font-size: 36px;
    font-weight: 700;
}

@media screen and (max-width: 780px) {
    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.2rem;
    }

    .copyright {
        font-size: 10px;
    }
}

@media screen and (max-width: 850px) {
    .ftright p {
        font-size: 20px;
    }

    .ftright h5 {
        font-size: 15px;
    }

    .nav-item .navbut {
        font-size: 12px;
        height: 100%;
    }

    .topic {
        font-size: 28px;
    }

    .feat {
        font-size: 28px;
    }

    .processtopic {
        font-size: 28px;
    }

    .memtopic {
        font-size: 28px;
    }
}

@media screen and (max-width: 640px) {
    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1rem;
    }

    .centered .imgtop {
        width: 150px;
    }

    .top .col-right {
        margin-left: 0%;
        padding-left: 0%;
        float: left;
    }

    .top .col-left {
        padding-right: 10px;
    }

    .topic {
        font-size: 26px;
    }

    .feat {
        font-size: 26px;
    }

    .processtopic {
        font-size: 26px;
    }

    .memtopic {
        font-size: 26px;
    }

    .feat .far {
        padding: 1% 8%;
        font-size: 19px;
    }

    .topic .fas {
        font-size: 28px;
    }

    .col-left .fas {
        font-size: 40px;
    }

    .centermem .fa-heart {
        padding: 0px 3px;
        font-size: 17px;
    }
}

@media screen and (max-width: 460px) {
    .topic {
        font-size: 24px;
    }

    .feat {
        font-size: 24px;
    }

    .processtopic {
        font-size: 24px;
    }

    .memtopic {
        font-size: 24px;
    }

    .topic .fas {
        font-size: 26px;
        padding: 0px 20px;
    }
}

.about-section h2::before,
.education-section h2::before,
.experiences-section h2::before {
    color: #6B7897;
}

.research-section h2,
.publication-section h2,
.side-project-section h2 {
    text-align: center;
}

.row {
    height: 60%;
    display: flex;
    width: 100%;
}

.section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.container {
    position: relative;
    z-index: 5;
    height: 100%;
    display: flex;
    width: 1320px;
    margin: 0 auto;
    justify-content: center;
}

.float .left {
    float: left;
}

.float .center {
    margin: 0;
    /** rwd: float: left; or display: notinline**/
}

.float .right {
    float: right;
}

@media screen and (max-width: 1400px) {
    .container {
        width: 1140px;
    }
}

@media screen and (max-width: 1200px) {
    .container {
        width: 960px;
    }
}

@media screen and (max-width: 500px) {
    .feat .far {
        padding: 1% 5%;
    }
}

@media screen and (max-width: 992px) {
    .container {
        width: 820px;
    }
}

@media screen and (max-width: 768px) {
    .container {
        width: 100%;
        margin: 0 0;
        padding: 0 1rem;
        flex-direction: column;
    }
}

@media screen and (max-width: 768px) {
    #top {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .imgtop {
        width: 200px;
    }

    .top .col-right {
        padding-left: 0px;
    }
}

#top {
    display: flex;
    justify-content: center;
    align-items: center;
}

.top .col-right {
    /**rwd: width: 30%;**/
    padding-left: 0;
    text-align: left;
}

.top .col-left {
    /**rwd: width: 30%;**/
    padding-right: 20px;
}

.process .col-right {
    padding-left: 10%;
    text-align: left;
}

.process .col-left {
    padding-right: 5rem;
    text-align: right;
}

.centered {
    margin-top: 20px;
    text-align: center;
}

.centerft {
    padding: 0% 40px 0% 40px;
    text-align: center;
}

@media screen and (max-width: 875px) {
    .centerft .ctft {
        padding: 0 8%;
    }
}

@media screen and (max-width: 720px) {
    .centerft .ctft {
        padding: 0 5%;
    }
}

@media screen and (max-width: 620px) {
    .centerft .ctft {
        padding: 0 6%;
    }

    .centerft {
        text-align: center;
    }
}

.ctft {
    padding: 0 16%;
    display: flex;
    justify-content: space-between;
}

.shadow-box {
    border: 1px white solid;
    box-shadow: -4px -4px 8px #FFFFFF, 4px 4px 12px rgba(148, 159, 187, 0.26);
}

button {
    padding: 1rem 2rem;
    background-color: transparent;
    color: white;
    font-size: 1.25rem;
    text-align: center;
}

.btn-shadow {
    padding: 1rem 3rem;
    border: 1px white solid;
    box-shadow: 4px 4px 12px rgba(148, 159, 187, 0.26);
}

.header {
    width: 100%;
    position: fixed;
    top: 0;
    padding-right: 2rem;
    padding-top: 0rem;
    z-index: 100;
    box-shadow: -4px -4px 8px #FFFFFF, 4px 4px 12px rgba(148, 159, 187, 0.26);
}

.header.overlay {
    background: #F2F4F7;
    backdrop-filter: blur(8px);
}

.header .logo {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.logo {
    padding-left: 20px;
}

.header .row::before {
    display: block;
    background-color: #6B7897;
    width: 5vw;
    margin-top: 0.5rem;
    margin-right: 1rem;
    height: 1.5rem;
}

.logo {
    font-family: 'Lexend', monospace;
    font-weight: 700;
    font-size: 1.5rem;
    margin: 0.5rem 0;
    cursor: pointer;
}

.top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.nav-item {
    margin: 1.3rem 2rem;
    text-transform: uppercase;
    font-size: medium;
    font-weight: 700;
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 1200px) {
    .nav-item {
        margin: 1rem 1rem;
    }
}

@media screen and (max-width: 992px) {
    .nav-item {
        margin: 1rem 0.5rem;
    }
}

@media screen and (max-width: 600px) {
    .nav-item {
        padding-right: 3px;
        max-width: 68px;
        max-height: 45px;
    }
}

.nav-item.active {
    color: #3A9FE9;
    box-shadow: -4px -4px 8px #FFFFFF, 4px 4px 12px rgba(148, 159, 187, 0.26);
    border-radius: 21.5px;
}

.banner {
    height: 100vh;
    background: #F2F4F7;
    background-size: cover;
    background-attachment: fixed;
}

.banner {
    font-size: 1.5rem;
    font-weight: 700;
}

.intro {
    font-weight: 700;
}

.top {
    display: flex;
    align-items: center;
}

.link {
    color: #6B7897;
}


.videobox {
    /**rwd**/
    position: relative;
    width: 100%;
    height: 0;
    box-sizing: border-box;
    padding-bottom: 56.25%;
    border: 6px solid transparent;
    border-radius: 23px;
    background-image: -webkit-linear-gradient(180deg, #547EEC 0%,
            #3A9FE9 100%);
    background-image: -moz-linear-gradient(180deg, #547EEC 0%,
            #3A9FE9 100%);
    background-image: linear-gradient(180deg, #547EEC 0%,
            #3A9FE9 100%);
}

.vdo {
    /**rwd**/
    position: absolute;
    padding: 3%;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 23px;
    background: #F2F4F7;
}

.research-section,
.experiences-section {
    position: relative;
}

.experiences-section {
    padding: 10% 0 0 0;
    background-image: url('./img/Intersect.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0 0%;
}

.research-section .col-left {
    width: 25rem;
}

.timeline {
    --rightPadding: 5rem;
    border-left: 1px solid #949FBB;
    list-style: none;
    padding-left: var(--rightPadding);
}

.timeline li {
    position: relative;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    opacity: 0;
    transition: 500ms;
}

.timeline .light::before {
    content: ' ';
    display: inline-block;
    background-color: #3a9fe9;
    position: absolute;
    left: -5.4rem;
    border-radius: 50%;
    width: 0.75rem;
    height: 0.75rem;
}

.timeline .dark::before {
    content: ' ';
    display: inline-block;
    background-color: #546eec;
    position: absolute;
    left: -5.4rem;
    border-radius: 50%;
    width: 0.75rem;
    height: 0.75rem;
}

.timeline li>* {
    margin-bottom: 0rem;
}

.timeline .title {
    font-weight: 700;
}

.light {
    color: #3a9fe9;
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
}

.dark {
    color: #546eec;
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
}

@media screen and (max-width: 768px) {
    .timeline {
        --rightPadding: 5rem;
        margin-left: 1rem;
    }

    .light {
        font-size: 17px;
        line-height: 20px;
    }

    .dark {
        font-size: 17px;
        line-height: 20px;
    }
}

.experiences-section .col-right,
.research-section .col-right {
    width: 55%;
    margin-left: auto;
}

.research-section {
    padding: 5rem 0;
}

.box-grid {
    border-top: 1px white solid;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.box-grid>* {
    padding: 5rem 3rem;
    border-right: 1px white solid;
}

.box-grid>*:last-child {
    border-right: none;
}

@media screen and (max-width: 768px) {

    .box-grid {
        grid-template-columns: 1fr
    }

    .box-grid>* {
        padding: 2rem 2rem;
        border-right: none;
        border-bottom: 1px white solid;
    }

    .box-grid>*:last-child {
        border-bottom: none;
    }
}

@media screen and (max-width: 768px) {

    .research-item .title {
        margin-bottom: 0;
    }

    .research-item .desc {
        margin-bottom: 2rem;
    }
}

@media screen and (max-width: 768px) {
    .publication-section .shadow-box {
        padding: 2rem;
        box-shadow: -4px -4px 8px #FFFFFF, 4px 4px 12px rgba(148, 159, 187, 0.26);
    }
}

.side-project-section {
    padding-top: 2.5rem;
    padding-bottom: 3rem;
}

.side-project-section .container {
    flex-wrap: wrap;
}

.video {
    padding-top: 30px;
    padding-left: 25%;
    padding-right: 25%;
}

@media screen and (max-width: 1000px) {
    .video {
        padding-left: 18%;
        padding-right: 18%;
    }
}

@media screen and (max-width: 900px) {
    .video {
        padding-left: 15%;
        padding-right: 15%;
    }
}

@media screen and (max-width: 768px) {
    .project-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .video {
        padding-left: 8%;
        padding-right: 8%;
    }
}

.project-grid {
    padding-top: 20px;
    padding-left: 13%;
    padding-right: 13%;
}

.project-item {
    display: flex;
    justify-content: center;
}

.memimg {
    max-width: 90%;
}

.member {
    padding-left: 13%;
    padding-right: 13%;
}

.centermem {
    text-align: center;
}

.footer {
    width: 100%;
    background-color: #F2F4F7;
    padding-top: 2.5rem;
    padding-bottom: 2rem;
    color: #949FBB;
    font-weight: 700;
}

.footer a {
    color: #949FBB;
}

.copyright {
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #949FBB;
}

.icon {
    height: 1rem;
}

@media screen and (max-width: 768px) {
    .footer .container {
        align-items: center;
    }

    .contact-item {
        margin-bottom: 1rem;
        text-align: center;
    }

    .copyright {
        margin-right: auto;
        text-align: center;
        font-size: 10px;
    }
}

@media screen and (max-width: 768px) {
    .container>.col-left {
        width: 100%;
        padding-left: 12%;
        text-align: left;
    }

    .container>.col-right {
        width: 100%;
        max-width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}

.transparentOnStart {
    opacity: 0;
}

.fas {
    font-size: 40px;
    font-weight: 200;
    background: linear-gradient(180deg, #547EEC 0%, #3A9FE9 100%);
    background: -webkit-linear-gradient(180deg, #547EEC 0%, #3A9FE9 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.first {
    display: inline;
    float: left;
    max-width: 30%;
}

.second {
    display: inline;
    float: left;
    max-width: 30%;
}

.third {
    display: inline;
    float: left;
    max-width: 30%;
}

.fourth {
    display: inline;
    float: left;
    max-width: 25%;
}

.tag {
    margin-top: auto;
    color: #949FBB;
    border: none;
    padding: 0.25rem 0.25rem;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: 700;
    width: fit-content;
    box-shadow: -4px -4px 8px #FFFFFF, 4px 4px 12px rgba(148, 159, 187, 0.26);

}

.tag:hover {
    color: #6B7897;
}

.tag .fas {
    font-size: 10px;
    color: #6B7897;
}

a {
    text-decoration: none
}

a:hover {

    text-decoration: none
}

button {
    cursor: pointer;
}

.navbut {
    font-weight: 400;
    font-size: 16px;
    padding: 10px;
    width: 105%;
    height: 90%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-heart {
    font-size: 20px;
    margin: 0px;
    background: linear-gradient(180deg, #547EEC 0%, #3A9FE9 100%);
    background: -webkit-linear-gradient(180deg, #547EEC 0%, #3A9FE9 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

@media screen and (max-width: 640px) {
    .ctft {
        display: grid;
        align-items: center;
    }

    .ctft .first {
        max-width: 100%;
        justify-content: center;
        display: flex;
    }

    .ctft .second {
        max-width: 100%;
        justify-content: center;
        display: flex;
    }

    .ctft .third {
        max-width: 100%;
        justify-content: center;
        display: flex;
    }

    .ctft img {
        padding-right: 5%;
        max-width: 60%;
    }
}

@media screen and (max-width: 640px) {
    .ftright p {
        font-size: 19px;
        text-align: left;
    }

    .ftright h5 {
        font-size: 15px;
        text-align: left;
    }

    .ftright {
        padding-top: 20%;
    }

    .topic i {
        padding: 0 30px;
    }
}

.ftright {
    width: 80%;
    display: inline-block;
    justify-content: center;
}